/* table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
  }
  
  table td, table th {
    border-top: 1px solid #ddd;
    text-align: center;
    font-family: Open Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
    padding: 1rem
  } */
  
  /* table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;} */
  
  /* table th {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: .65rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #e9ecef;
    text-align: left;
    background-color: #f6f9fc;
    color: #8898aa;
    font-weight: 600
  } */